<div class="form-card" *ngIf="query.type === 'secondary'">
  <nav class="nav">
    <a
      [routerLink]="['.']"
      [queryParams]="{ user: 'self' }"
      queryParamsHandling="merge"
      [routerLinkActive]="['active']"
    >
      <svg
        width="23"
        height="27"
        viewBox="0 0 23 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="svg-color"
          d="M11.409 13.2048C14.7445 13.2048 17.4487 10.2488 17.4487 6.60242C17.4487 2.95596 16.5608 0 11.409 0C6.25713 0 5.36913 2.95596 5.36913 6.60242C5.36913 10.2488 8.07333 13.2048 11.409 13.2048Z"
        />
        <path
          class="svg-color"
          d="M0.00119019 23.2866C-0.000871276 23.2235 0.000159455 23.0628 0.00119019 23.2866V23.2866Z"
        />
        <path
          class="svg-color"
          d="M22.8163 23.4594C22.8174 23.0372 22.8195 23.3986 22.8163 23.4594V23.4594Z"
        />
        <path
          class="svg-color"
          d="M22.8034 23.0192C22.6915 16.6671 21.7698 14.8571 14.7161 13.7114C14.7161 13.7114 13.7232 14.8501 11.4089 14.8501C9.09461 14.8501 8.10153 13.7114 8.10153 13.7114C1.12482 14.8446 0.146992 16.6278 0.0184205 22.8128C0.00787766 23.3179 0.0030759 23.3452 0.00119019 23.2866C0.00161876 23.3965 0.00204893 23.5989 0.00204893 23.9532C0.00204893 23.9532 1.68136 27 11.4089 27C21.1363 27 22.8157 23.9532 22.8157 23.9532C22.8157 23.7255 22.816 23.5671 22.8163 23.4594C22.8144 23.4957 22.8105 23.4255 22.8034 23.0192Z"
        />
      </svg>
      Прикрепить себя
    </a>
    <a
      [routerLink]="['.']"
      [queryParams]="{ user: 'family' }"
      queryParamsHandling="merge"
      [routerLinkActive]="['active']"
    >
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="svg-color"
          d="M8.46011 6.31349C10.1843 6.31349 11.5814 4.90043 11.5814 3.15671C11.5814 1.413 10.1843 0 8.46011 0C6.73599 0 5.33888 1.413 5.33888 3.15671C5.33888 4.90043 6.73593 6.31349 8.46011 6.31349Z"
        />
        <path
          class="svg-color"
          d="M12.1997 22.0855C11.6797 22.0095 11.2083 21.7378 10.8752 21.314C10.479 20.8099 10.3343 20.161 10.4779 19.5338L10.4966 19.4521C9.90083 19.5292 9.32288 19.39 8.8434 19.0856C8.27704 18.7262 7.88305 18.1654 7.73386 17.5063C7.58467 16.8472 7.69825 16.1689 8.05358 15.5961L12.6611 8.16924C12.1983 7.49867 11.4815 7.14987 10.7438 7.14987H6.17662C5.25141 7.14987 4.44194 7.69923 4.04598 8.51048L0.163435 16.4653C-0.222542 17.2563 0.0984884 18.214 0.880542 18.6044C1.66277 18.9949 2.60967 18.6701 2.99571 17.8792L4.26663 15.2752L4.67657 20.7349V28.4027C4.67657 29.2848 5.38364 29.9999 6.25585 29.9999C7.12807 29.9999 7.83513 29.2848 7.83513 28.4027V21.1732H9.08556V28.4027C9.08556 29.2848 9.79263 29.9999 10.6648 29.9999C11.4379 29.9999 12.0808 29.4379 12.2171 28.696C12.206 28.5996 12.1997 28.5019 12.1997 28.4027L12.1997 22.0855Z"
        />
        <path
          class="svg-color"
          d="M19.5502 23.9311C19.1584 23.8355 18.8072 23.6108 18.55 23.2833C18.2415 22.8908 18.1057 22.3989 18.1653 21.9084C18.1601 21.9084 18.1548 21.9085 18.1496 21.9085C17.9393 21.9085 17.7317 21.8769 17.5323 21.8167V28.4028C17.5323 29.2849 18.2393 29.9999 19.1116 29.9999C19.3717 29.9999 19.617 29.9359 19.8334 29.8232C19.6536 29.5039 19.5503 29.1351 19.5503 28.7421L19.5502 23.9311Z"
        />
        <path
          class="svg-color"
          d="M16.3151 18.5514L20.2014 12.287C20.4086 11.9532 20.6972 11.6883 21.0324 11.5109C20.4819 10.9129 20.1442 10.112 20.1442 9.23256C20.1442 8.96305 20.1768 8.70115 20.2365 8.44989L20.0428 8.13778C19.7547 7.67344 19.2692 7.41076 18.7656 7.3907C18.6109 7.36925 15.1916 7.37064 15.048 7.39076C14.5445 7.41076 14.0589 7.67344 13.7709 8.13778L8.83582 16.0926C8.37222 16.8398 8.59533 17.8256 9.33412 18.2944C10.0732 18.7634 11.0477 18.5374 11.5112 17.7904L12.0087 16.9887L11.3775 19.7446C11.2982 20.0908 11.3795 20.4547 11.5981 20.7329C11.8168 21.0111 12.149 21.1733 12.5005 21.1733H13.1232V28.4028C13.1232 29.2849 13.8302 30 14.7025 30C15.5747 30 16.2817 29.2849 16.2817 28.4028V21.1732H16.5321C15.9085 20.4637 15.7916 19.3951 16.3151 18.5514Z"
        />
        <path
          class="svg-color"
          d="M29.8096 19.0478L25.9229 12.7834C25.696 12.4178 25.3137 12.2108 24.9172 12.1951C24.8573 12.1868 24.1784 12.1828 23.4893 12.1828C22.7738 12.1828 22.0474 12.1871 21.9896 12.1952C21.593 12.2109 21.2106 12.4178 20.9838 12.7835L17.0973 19.0479C16.7323 19.6363 16.9081 20.4127 17.4898 20.7818C18.072 21.1513 18.8395 20.973 19.2043 20.3849L19.596 19.7535L19.099 21.9238C19.0366 22.1965 19.1006 22.483 19.2728 22.7021C19.4449 22.9212 19.7066 23.0489 19.9834 23.0489H20.4738V28.7422C20.4738 29.4369 21.0306 30 21.7174 30C22.4042 30 22.961 29.4369 22.961 28.7422V23.0489H23.9458V28.7422C23.9458 29.4369 24.5027 30 25.1894 30C25.8763 30 26.433 29.4369 26.433 28.7422V23.0489H26.9233C27.2 23.0489 27.4616 22.9212 27.6338 22.7021C27.806 22.483 27.87 22.1965 27.8075 21.9238L27.3106 19.7532L27.7027 20.385C28.0678 20.9737 28.8357 21.151 29.417 20.7818C29.999 20.4126 30.1747 19.6362 29.8096 19.0478Z"
        />
        <path
          class="svg-color"
          d="M16.907 6.69266C18.5765 6.69266 19.9364 5.32396 19.9364 3.62871C19.9364 1.93629 18.5805 0.564749 16.907 0.564749C15.2335 0.564749 13.8775 1.93623 13.8775 3.62871C13.8775 5.32427 15.2378 6.69266 16.907 6.69266Z"
        />
        <path
          class="svg-color"
          d="M22.1538 11.2556C22.5278 11.5018 22.974 11.6454 23.4536 11.6454C23.9333 11.6454 24.3794 11.5018 24.7534 11.2554C25.4068 10.8251 25.8392 10.0802 25.8392 9.23249C25.8392 7.89968 24.7713 6.81965 23.4536 6.81965C22.1357 6.81965 21.0678 7.89974 21.0678 9.23249C21.0678 10.0803 21.5002 10.8253 22.1538 11.2556Z"
        />
      </svg>
      Прикрепить семью
    </a>
  </nav>
  <ng-container *ngIf="query.user === 'self'">
    <form [formGroup]="singleForm" (ngSubmit)="onFirstSubmit(singleForm)">
      <div class="form-wrapper">
        <div class="form-group first">
          <label for="name">Имя</label>
          <input id="name" type="text" formControlName="firstName" />
        </div>
        <div class="form-group second">
          <label for="secondName">Фамилия</label>
          <input id="secondName" type="text" formControlName="lastName" />
        </div>
        <div class="form-group third">
          <label for="otchestvo">Отчество</label>
          <input id="otchestvo" type="text" formControlName="otchestvo" />
        </div>
        <div class="form-group fouth">
          <label for="phone">Номер телефона</label>
          <input
            id="phone"
            type="tel"
            formControlName="phone"
            mask="(000) 000 00 00"
            prefix="+7"
          />
        </div>
        <div class="form-group fifth">
          <label for="iin">ИИН</label>
          <input
            id="iin"
            type="tel"
            formControlName="iin"
            maxLength="12"
            minLength="12"
          />
        </div>
        <div class="form-group six">
          <label for="address">Адрес</label>
          <input id="address" type="text" formControlName="address" />
        </div>
        <div class="form-group seven">
          <label for="comment">Комментарии</label>
          <input id="comment" type="text" formControlName="comment" />
        </div>
      </div>
      <button
        type="submit"
        class="button wd-150"
        [disabled]="singleForm.invalid"
      >
        Далее
      </button>
    </form>
  </ng-container>
  <ng-container *ngIf="query.user === 'family'">
    <form [formGroup]="familyForm" (ngSubmit)="onSubmit(familyForm)">
      <ng-container
        formArrayName="templates"
        *ngFor="
          let item of familyForm.get('templates')?.controls;
          let i = index
        "
      >
        <div class="card__group" [formGroupName]="i">
          <div class="form">
            <div class="count">
              <div class="circle">{{ i + 1 }}</div>
            </div>
            <div class="form-wrapper">
              <div class="form-group first">
                <label for="name">Имя</label>
                <input id="name" type="text" formControlName="firstName" />
              </div>
              <div class="form-group second">
                <label for="secondName">Фамилия</label>
                <input id="secondName" type="text" formControlName="lastName" />
              </div>
              <div class="form-group third">
                <label for="otchestvo">Отчество</label>
                <input id="otchestvo" type="text" formControlName="otchestvo" />
              </div>
              <div class="form-group fouth">
                <label for="phone">Номер телефона</label>
                <input
                  id="phone"
                  type="tel"
                  formControlName="phone"
                  mask="(000) 000 00 00"
                  prefix="+7"
                />
              </div>
              <div class="form-group fifth">
                <label for="iin">ИИН</label>
                <input
                  id="iin"
                  type="tel"
                  formControlName="iin"
                  maxLength="12"
                  minLength="12"
                />
              </div>
              <div class="form-group six">
                <label for="address">Адрес</label>
                <input id="address" type="text" formControlName="address" />
              </div>
              <div class="form-group seven">
                <label for="comment">Комментарии</label>
                <input id="comment" type="text" formControlName="comment" />
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="button-group">
        <button
          type="button"
          class="button-outline wd-150"
          (click)="removeTemplate()"
        >
          Удалить
        </button>

        <button
          type="button"
          class="button-outline wd-260"
          (click)="addTemplate()"
        >
          + добавить еще человека
        </button>
        <button
          type="submit"
          class="button wd-150"
          [disabled]="familyForm.invalid"
        >
          Далее
        </button>
      </div>
    </form>
  </ng-container>
</div>
<div class="form-card_main" *ngIf="query.type !== 'secondary'">
  <nav class="nav-secondary">
    <a [routerLink]="['.']" [queryParams]="{}" [routerLinkActive]="['active']">
      <svg
        width="23"
        height="27"
        viewBox="0 0 23 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="svg-color"
          d="M11.409 13.2048C14.7445 13.2048 17.4487 10.2488 17.4487 6.60242C17.4487 2.95596 16.5608 0 11.409 0C6.25713 0 5.36913 2.95596 5.36913 6.60242C5.36913 10.2488 8.07333 13.2048 11.409 13.2048Z"
        />
        <path
          class="svg-color"
          d="M0.00119019 23.2866C-0.000871276 23.2235 0.000159455 23.0628 0.00119019 23.2866V23.2866Z"
        />
        <path
          class="svg-color"
          d="M22.8163 23.4594C22.8174 23.0372 22.8195 23.3986 22.8163 23.4594V23.4594Z"
        />
        <path
          class="svg-color"
          d="M22.8034 23.0192C22.6915 16.6671 21.7698 14.8571 14.7161 13.7114C14.7161 13.7114 13.7232 14.8501 11.4089 14.8501C9.09461 14.8501 8.10153 13.7114 8.10153 13.7114C1.12482 14.8446 0.146992 16.6278 0.0184205 22.8128C0.00787766 23.3179 0.0030759 23.3452 0.00119019 23.2866C0.00161876 23.3965 0.00204893 23.5989 0.00204893 23.9532C0.00204893 23.9532 1.68136 27 11.4089 27C21.1363 27 22.8157 23.9532 22.8157 23.9532C22.8157 23.7255 22.816 23.5671 22.8163 23.4594C22.8144 23.4957 22.8105 23.4255 22.8034 23.0192Z"
        />
      </svg>
      Прикрепить себя
    </a>
    <a
      [routerLink]="['.']"
      [queryParams]="{ user: 'family' }"
      queryParamsHandling="merge"
      [routerLinkActive]="['active']"
    >
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="svg-color"
          d="M8.46011 6.31349C10.1843 6.31349 11.5814 4.90043 11.5814 3.15671C11.5814 1.413 10.1843 0 8.46011 0C6.73599 0 5.33888 1.413 5.33888 3.15671C5.33888 4.90043 6.73593 6.31349 8.46011 6.31349Z"
        />
        <path
          class="svg-color"
          d="M12.1997 22.0855C11.6797 22.0095 11.2083 21.7378 10.8752 21.314C10.479 20.8099 10.3343 20.161 10.4779 19.5338L10.4966 19.4521C9.90083 19.5292 9.32288 19.39 8.8434 19.0856C8.27704 18.7262 7.88305 18.1654 7.73386 17.5063C7.58467 16.8472 7.69825 16.1689 8.05358 15.5961L12.6611 8.16924C12.1983 7.49867 11.4815 7.14987 10.7438 7.14987H6.17662C5.25141 7.14987 4.44194 7.69923 4.04598 8.51048L0.163435 16.4653C-0.222542 17.2563 0.0984884 18.214 0.880542 18.6044C1.66277 18.9949 2.60967 18.6701 2.99571 17.8792L4.26663 15.2752L4.67657 20.7349V28.4027C4.67657 29.2848 5.38364 29.9999 6.25585 29.9999C7.12807 29.9999 7.83513 29.2848 7.83513 28.4027V21.1732H9.08556V28.4027C9.08556 29.2848 9.79263 29.9999 10.6648 29.9999C11.4379 29.9999 12.0808 29.4379 12.2171 28.696C12.206 28.5996 12.1997 28.5019 12.1997 28.4027L12.1997 22.0855Z"
        />
        <path
          class="svg-color"
          d="M19.5502 23.9311C19.1584 23.8355 18.8072 23.6108 18.55 23.2833C18.2415 22.8908 18.1057 22.3989 18.1653 21.9084C18.1601 21.9084 18.1548 21.9085 18.1496 21.9085C17.9393 21.9085 17.7317 21.8769 17.5323 21.8167V28.4028C17.5323 29.2849 18.2393 29.9999 19.1116 29.9999C19.3717 29.9999 19.617 29.9359 19.8334 29.8232C19.6536 29.5039 19.5503 29.1351 19.5503 28.7421L19.5502 23.9311Z"
        />
        <path
          class="svg-color"
          d="M16.3151 18.5514L20.2014 12.287C20.4086 11.9532 20.6972 11.6883 21.0324 11.5109C20.4819 10.9129 20.1442 10.112 20.1442 9.23256C20.1442 8.96305 20.1768 8.70115 20.2365 8.44989L20.0428 8.13778C19.7547 7.67344 19.2692 7.41076 18.7656 7.3907C18.6109 7.36925 15.1916 7.37064 15.048 7.39076C14.5445 7.41076 14.0589 7.67344 13.7709 8.13778L8.83582 16.0926C8.37222 16.8398 8.59533 17.8256 9.33412 18.2944C10.0732 18.7634 11.0477 18.5374 11.5112 17.7904L12.0087 16.9887L11.3775 19.7446C11.2982 20.0908 11.3795 20.4547 11.5981 20.7329C11.8168 21.0111 12.149 21.1733 12.5005 21.1733H13.1232V28.4028C13.1232 29.2849 13.8302 30 14.7025 30C15.5747 30 16.2817 29.2849 16.2817 28.4028V21.1732H16.5321C15.9085 20.4637 15.7916 19.3951 16.3151 18.5514Z"
        />
        <path
          class="svg-color"
          d="M29.8096 19.0478L25.9229 12.7834C25.696 12.4178 25.3137 12.2108 24.9172 12.1951C24.8573 12.1868 24.1784 12.1828 23.4893 12.1828C22.7738 12.1828 22.0474 12.1871 21.9896 12.1952C21.593 12.2109 21.2106 12.4178 20.9838 12.7835L17.0973 19.0479C16.7323 19.6363 16.9081 20.4127 17.4898 20.7818C18.072 21.1513 18.8395 20.973 19.2043 20.3849L19.596 19.7535L19.099 21.9238C19.0366 22.1965 19.1006 22.483 19.2728 22.7021C19.4449 22.9212 19.7066 23.0489 19.9834 23.0489H20.4738V28.7422C20.4738 29.4369 21.0306 30 21.7174 30C22.4042 30 22.961 29.4369 22.961 28.7422V23.0489H23.9458V28.7422C23.9458 29.4369 24.5027 30 25.1894 30C25.8763 30 26.433 29.4369 26.433 28.7422V23.0489H26.9233C27.2 23.0489 27.4616 22.9212 27.6338 22.7021C27.806 22.483 27.87 22.1965 27.8075 21.9238L27.3106 19.7532L27.7027 20.385C28.0678 20.9737 28.8357 21.151 29.417 20.7818C29.999 20.4126 30.1747 19.6362 29.8096 19.0478Z"
        />
        <path
          class="svg-color"
          d="M16.907 6.69266C18.5765 6.69266 19.9364 5.32396 19.9364 3.62871C19.9364 1.93629 18.5805 0.564749 16.907 0.564749C15.2335 0.564749 13.8775 1.93623 13.8775 3.62871C13.8775 5.32427 15.2378 6.69266 16.907 6.69266Z"
        />
        <path
          class="svg-color"
          d="M22.1538 11.2556C22.5278 11.5018 22.974 11.6454 23.4536 11.6454C23.9333 11.6454 24.3794 11.5018 24.7534 11.2554C25.4068 10.8251 25.8392 10.0802 25.8392 9.23249C25.8392 7.89968 24.7713 6.81965 23.4536 6.81965C22.1357 6.81965 21.0678 7.89974 21.0678 9.23249C21.0678 10.0803 21.5002 10.8253 22.1538 11.2556Z"
        />
      </svg>
      Прикрепить семью
    </a>
  </nav>
  <ng-container *ngIf="query.user !== 'family'">
    <form [formGroup]="singleForm" (ngSubmit)="onFirstSubmit(singleForm)">
      <div class="form-wrapper_main">
        <div class="form-group ">
          <label for="name">Имя</label>
          <input id="name" type="text" formControlName="firstName" />
        </div>
        <div class="form-group ">
          <label for="secondName">Фамилия</label>
          <input id="secondName" type="text" formControlName="lastName" />
        </div>
        <div class="form-group ">
          <label for="otchestvo">Отчество</label>
          <input id="otchestvo" type="text" formControlName="otchestvo" />
        </div>
        <div class="form-group ">
          <label for="phone">Номер телефона</label>
          <input
            id="phone"
            type="tel"
            formControlName="phone"
            mask="(000) 000 00 00"
            prefix="+7"
          />
        </div>
        <div class="form-group ">
          <label for="iin">ИИН</label>
          <input
            id="iin"
            type="tel"
            formControlName="iin"
            maxLength="12"
            minLength="12"
          />
        </div>
        <div class="form-group ">
          <label for="address">Адрес</label>
          <input id="address" type="text" formControlName="address" />
        </div>
        <div class="form-group">
          <label for="comment">Комментарии</label>
          <input id="comment" type="text" formControlName="comment" />
        </div>
      </div>
      <button
        type="submit"
        class="button wd-150"
        [disabled]="singleForm.invalid"
      >
        Далее
      </button>
    </form>
  </ng-container>
  <ng-container *ngIf="query.user === 'family'">
    <form [formGroup]="familyForm" (ngSubmit)="onSubmit(familyForm)">
      <ng-container
        formArrayName="templates"
        *ngFor="
          let item of familyForm.get('templates')?.controls;
          let i = index
        "
      >
        <div class="card__group" [formGroupName]="i">
          <div class="form">
            <div class="count">
              <div class="circle">{{ i + 1 }}</div>
            </div>
            <div class="form-wrapper_main">
              <div class="form-group ">
                <label for="name">Имя</label>
                <input id="name" type="text" formControlName="firstName" />
              </div>
              <div class="form-group ">
                <label for="secondName">Фамилия</label>
                <input id="secondName" type="text" formControlName="lastName" />
              </div>
              <div class="form-group ">
                <label for="otchestvo">Отчество</label>
                <input id="otchestvo" type="text" formControlName="otchestvo" />
              </div>
              <div class="form-group ">
                <label for="phone">Номер телефона</label>
                <input
                  id="phone"
                  type="tel"
                  formControlName="phone"
                  mask="(000) 000 00 00"
                  prefix="+7"
                />
              </div>
              <div class="form-group ">
                <label for="iin">ИИН</label>
                <input
                  id="iin"
                  type="tel"
                  formControlName="iin"
                  maxLength="12"
                  minLength="12"
                />
              </div>
              <div class="form-group ">
                <label for="address">Адрес</label>
                <input id="address" type="text" formControlName="address" />
              </div>
              <div class="form-group">
                <label for="comment">Комментарии</label>
                <input id="comment" type="text" formControlName="comment" />
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="button-group">
        <button
          type="button"
          class="button-outline wd-150"
          (click)="removeTemplate()"
        >
          Удалить
        </button>

        <button
          type="button"
          class="button-outline wd-260"
          (click)="addTemplate()"
        >
          + добавить еще человека
        </button>
        <button
          type="submit"
          class="button wd-150"
          [disabled]="familyForm.invalid"
        >
          Далее
        </button>
      </div>
    </form>
  </ng-container>
</div>
