.form-card {
  max-width: 600px;
  margin: 0 auto;
}

.form-card_main {
  max-width: 500px;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
}

.svg-color {
  fill: #bdbdbd;
}

.nav {
  display: flex;
  box-shadow: inset 0 -3px #e0e0e0;
  margin-bottom: 54px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #bdbdbd;

    svg {
      margin-right: 20px;
    }

    &.active {
      color: #00897b;
      box-shadow: inset 0 -4px #00897b;
    }

    &.active .svg-color {
      fill: #00897b;
    }
  }
}

.nav-secondary {
  display: flex;
  margin-bottom: 44px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #bdbdbd;

    svg {
      margin-right: 20px;
    }

    &.active {
      border: 1px solid #00897b;
      color: #00897b;
    }

    &.active .svg-color {
      fill: #00897b;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
  }
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  grid-template-areas:
    "first second"
    "third ."
    "fouth fifth"
    "six six"
    "seven seven";
  margin-bottom: 50px;
}

.form-wrapper_main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-bottom: 50px;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.fouth {
  grid-area: fouth;
}

.fifth {
  grid-area: fifth;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.count {
  position: relative;
  margin-bottom: 30px;

  &::after {
    content: " ";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    top: 50%;
    left: 40px;
    background-color: #bdbdbd;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #00897b;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.button-group {
  display: flex;
  flex-direction: column;

  button:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    margin-bottom: 50px;

    a {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 14px;
      line-height: 16px;

      svg {
        margin-right: 16px;
      }
    }
  }

  .nav-secondary {
    margin-bottom: 50px;

    a {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 14px;
      line-height: 16px;

      svg {
        margin-right: 16px;
      }
    }
  }

  .form-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first " "second" "third " "fouth " "fifth" "six ";
  }

  .form-card_main {
    padding: 50px 16px;
  }
}
