.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow: hidden;

  a:hover {
    color: #109083;
  }
}

.title {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  span {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #222222;
  }
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
}

.topnav .hamburger {
  display: none;
}

.header-bottom,
.responsive {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav {
    padding: 20px 16px;
  }

  .title {
    span {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.hamburger {
    display: block;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    padding: 30px 16px;
    background-color: #fff;

    a:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .link {
    line-height: 35px;
  }

  .contact {
    justify-content: flex-start;
  }
}
