<header class="topnav">
  <a [routerLink]="['.']" class="title">
    <span>Медицинский центр</span>
    <span>им. Нурадина Досжанова</span>
  </a>
  <a href="#department" class="link">Отделения</a>
  <a href="#diagnostics" class="link">Программы</a>
  <a href="https://wa.me/+77011030007">
    <div class="contact">
      <img src="/assets/icons/whats-app.jpg" alt="" />
      <span>+7 (701) 103-00-07</span>
    </div>
  </a>
  <a>
    <button class="button-outline wd-240" (click)="nextPage()">
      Прикрепиться
    </button>
  </a>
  <a href="javascript:void(0);" class="hamburger" (click)="myFunction()">
    <svg
      width="20"
      height="15"
      viewBox="0 0 20 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M20 3V0H0V3H20ZM20 9V6H0V9H20ZM20 15V12H0V15H20Z" fill="black" />
    </svg>
  </a>
</header>
<div class="header-bottom" id="myTopnav">
  <a pageScroll href="#department" class="link">Отделения</a>
  <a pageScroll href="#diagnostics" class="link">Программы</a>
  <a href="https://wa.me/+77011030007">
    <div class="contact contact_second">
      <img src="/assets/icons/whats-app.jpg" alt="" />
      <span>+7 (701) 103-00-07</span>
    </div>
  </a>
  <a
    [routerLink]="['registration']"
    [queryParams]="{ user: 'self', type: 'secondary' }"
  >
    <button class="button-outline wd-240">
      Прикрепиться
    </button>
  </a>
</div>
