:host {
  display: block;
  background-color: #fff;
  padding: 70px 70px 100px;
}

.text {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #00897b;

  &:first-child {
    margin-bottom: 50px;
  }

  &:nth-child(2) {
    margin-bottom: 100px;
  }
}

button {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  :host {
    padding: 50px 16px;
  }

  .text {
    font-size: 18px;
    line-height: 21px;

    &:first-child {
      margin-bottom: 30px;
    }

    &:nth-child(2) {
      margin-bottom: 50px;
    }
  }

  button {
    width: 200px;
  }
}
