.main-banner {
  padding: 82px 72px;
  box-sizing: border-box;
  background-image: url("/assets/images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .banner-content {
    max-width: 584px;
  }
}

.banner-text {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #fff;
  color: #109083;

  h1 {
    margin-bottom: 3.125rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.section-header {
  padding: 50px 70px;
  background: #fff;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  color: #222222;
}

.departments-main {
  background-image: url("/assets/images/doctor-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.diagnostic-main {
  background-image: url("/assets/images/doctor-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-main {
  background-image: url("/assets/images/second-doctor-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  padding: 50px 70px;
  box-sizing: border-box;
}

.layer {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #00897b;
}

.card-wrapper {
  display: none;
}

.card {
  background: #fff;
  border-radius: 5px;
  width: 500px;
  height: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}

.small-card {
  background: #fff;
  border-radius: 5px;
  width: 395px;
  height: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}

.card-content {
  padding: 30px;

  h3 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    text-transform: uppercase;
    color: #222222;
  }

  p {
    font-size: 14px;
    line-height: 25px;
    color: #4f4f4f;
  }
}

.small-card-content {
  padding: 30px 35px;

  h3 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222222;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
  }
}

.form-card {
  max-width: 500px;
  padding: 40px 50px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;

  button {
    border: 1px solid #00897b;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .main-banner {
    padding: 30px 16px;

    .banner-content {
      max-width: 100%;
    }
  }

  .banner-text {
    padding: 20px;

    h1 {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 23px;
    }

    p {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .btn-group {
    flex-direction: column;
    align-items: center;

    button:first-child {
      margin-bottom: 20px;
    }
  }

  .section-header {
    padding: 30px 16px;
    font-size: 20px;
    line-height: 35px;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;

    .card-item {
      background: #fff;
      border-radius: 5px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .section {
    padding: 50px 16px;
    box-sizing: border-box;
  }

  .additional {
    padding: 0;
  }
}
