:host {
  display: block;
  padding: 70px;
  background-color: #fff;
}

.title {
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
}

.doctor-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  position: relative;
  margin-bottom: 100px;
}

.doctor-item {
  position: relative;
  align-self: stretch;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

input[type="checkbox"] + label {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

input[type="checkbox"]:checked + label {
  border: 2px solid #00897b;
}

.text {
  padding: 30px 0;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  p {
    text-align: center;
    margin: 0 auto;
  }
}

.back {
  margin-right: 50px;
  font-size: 16px;
  line-height: 19px;
  color: #828282;

  &:hover {
    color: #00897b;
  }
}

@media only screen and (max-width: 768px) {
  :host {
    padding: 30px 16px;
  }

  .doctor-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
