<p class="title">В каких специалистах вы нуждаетесь</p>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="doctor-list">
    <div class="doctor-item" *ngFor="let item of items">
      <input
        [id]="item.name"
        type="checkbox"
        formControlName="doctor"
        [value]="item.text"
        (change)="onCheckChange($event)"
      />
      <label [for]="item.name">
        <img [src]="'/assets/images/' + item.image + '.jpg'" alt="" />
        <div class="text">
          <p>{{ item.text }}</p>
        </div>
      </label>
    </div>
  </div>

  <div class="btn-group">
    <a class="back" routerLink="/registration" queryParamsHandling="merge">
      Назад
    </a>
    <button class="button wd-200" [disabled]="form.invalid">
      Отправить
    </button>
    <ngx-loading
      [show]="loading"
      [config]="{ fullScreenBackdrop: true }"
    ></ngx-loading>
  </div>
</form>
