/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 100px;
  text-transform: uppercase;
}

button:disabled {
  background-color: #edf1f7;
  border-color: #edf1f7;
  color: #222b45;

  &:hover {
    background-color: #edf1f7;
    border-color: #edf1f7;
    color: #222b45;
  }
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 4px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.button-outline {
  padding: 1rem;
  border: 2px solid #00897b;
  box-sizing: border-box;
  background-color: transparent;
  color: #00897b;
  cursor: pointer;

  &:hover {
    border-color: #026b60;
    background-color: #f2f2f2;
  }
}

.button {
  padding: 1rem;
  border: none;
  background-color: #00897b;
  color: #fff;

  &:hover {
    background-color: #026b60;
    color: #f2f2f2;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 16px;
  }
}

.contact-info {
  display: flex;
  align-items: center;
  margin-top: 22px;

  img {
    width: 30px;
    height: 30px;
  }

  .tel {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #222222;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #222222;

  img {
    margin-right: 16px;
  }

  &:hover {
    color: #00897b;
  }
}

.ng2-custom-carousel-panel {
  position: relative;

  .ng2-custom-carousel-controls-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin: -140px 0 0 !important;
  }
}

.ng2-custom-carousel-controls button {
  visibility: hidden;

  &:first-child {
    &:after {
      content: "<";
      visibility: visible;
      display: block;
      font-size: 28px;
      cursor: pointer;
    }
  }

  &:nth-child(2) {
    &:after {
      content: ">";
      visibility: visible;
      display: block;
      font-size: 28px;
      cursor: pointer;
    }
  }
}

ng2-custom-carousel section {
  width: 100% !important;
}

.wd-300 {
  width: 300px;
}

.wd-260 {
  width: 260px;
}

.wd-180 {
  width: 180px;
}

.wd-200 {
  width: 200px;
}

.wd-150 {
  width: 150px;
}

@media only screen and (max-width: 768px) {
  .contact-info {
    margin-top: 22px;
  }

  ng2-custom-carousel {
    display: none;
  }
}
