.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 64px 70px;
  background-color: #fff;

  .address {
    font-size: 16px;
    line-height: 30px;
    color: #222222;
  }

  ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #222222;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.social-network img:first-child {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: start;
    padding: 50px 16px;

    .address {
      margin-bottom: 50px;
      font-size: 14px;
      line-height: 20px;
    }

    ul li {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 50px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  .phone-number {
    margin-bottom: 30px;
  }
}
