<footer class="footer">
  <div id="map" style="width: 100%; height: 302px"></div>
  <div class="contacts">
    <p class="address">
      г. Алматы <br />
      Алматинская область <br />
      Илийский район, с. КазЦИК <br />
      ул. Бухар жырау, 1В
    </p>

    <div class="phone-number">
      <a href="https://wa.me/+77011030007">
        <div class="contact">
          <img src="/assets/icons/whats-app.jpg" alt="" />
          <span>+7 (701) 103-00-07</span>
        </div>
      </a>
      <div class="contact-info">
        <img src="/assets/icons/phone.jpg" alt="" />
        <a href="tel:+77011030007" class="tel">+7 (701) 103-00-07</a>
      </div>
    </div>
    <div class="social-network">
      <img src="/assets/icons/insta.jpg" alt="" />
      <img src="/assets/icons/facebook.jpg" alt="" />
    </div>
  </div>
</footer>
